@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-size {
  width: 1.5rem;
  height: 1.5rem;
}

.cursor-pointer-bar > div {
  cursor: pointer;
}

.tpfield {
  border: 2px solid #d1d5db;
  width: 75%;
  border-radius: 0.375rem;
  height: 2em;
}

.tpfield:focus {
  outline: none;
}
