/* YourComponent.css */
@keyframes scaleWidth {
  from {
    width: 0; /* 初始宽度为 0 */
  }
  to {
    width: 100%; /* 最终宽度为 100% */
  }
}

.animate-scale-width {
  animation: scaleWidth 1.5s ease-out forwards;
}
